<!doctype html>
<html class="no-js" lang="en" dir="ltr">
{% include head.html %}
<body>	
	<div class="modal">
		<div class="center">
			<h2>Loading pictures...</h2>
			<div class="uil-ring-css" style="transform:scale(0.6);"><div></div></div>			
		</div>		
	</div>	
  <div class="page-border">
	<div class="border-top"></div>
    <div class="border-bottom"></div>
    <div class="border-left"></div>
    <div class="border-right"></div>
  </div>
  <div class="border-shadow">
    <div class="border-top"></div>
    <div class="border-bottom"></div>
    <div class="border-left"></div>
    <div class="border-right"></div>
  </div>
<div class="wrapper">
	<div class="blog-header-bg"></div>
	<header>
    <div class="row">
      <div class="small-5 large-4 columns">
        <div class="logo"><h1><a href="/"><img src="{{ "/img/logo.png" | prepend: site.baseurl }}" alt="DragonWeb new" height="40" width="200"></a></h1></div>
      </div>
      <div class="small-7 large-8 columns">
        <div class="outer-menu ">
          <input id="toggle" class="checkbox-toggle" type="checkbox" />
          <div class="hamburger"><div></div></div>
          <div class="menu">
            <div>
              <div>
                {% include menu.html %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>		
  </header>	
	<section class="page-header page-header-text">							
		<div class="row">
			<h1 class="main-title large-12 columns">Web development & Security - Other projects</h1>						
		</div>			
	</section>		
	<div class="content-container blog">	
		<section class="content">
            <div class="row">
                <div class="search-container">
                  <div class="row">
                    <div class="large-12 columns">
                      <input v-model="searchText" class="search-input" name="search" size="20" maxlength="50" value="" placeholder="Search..." type="search">
                      <div class="search-button"><i class="fa fa-search" aria-hidden="true"></i></div>
                      <ul class="category-list">             
                        <li><a href="/blog/">All</a></li>                        
                        {% for category in site.categories %}
                            <li><a href="/category/{{ category[0] }}/">{{ category[0] | capitalize }}</a></li>
                        {% endfor %}            
                      </ul>
                    </div>                                      
                  </div>                                      
                </div>
                {{ content }}                
            </div>			
		</section>    		
	</div>
</div>
<footer class="footer">
    <div class="row">
      <div class="large-12 columns">
        {% include footer.html %}
      </div>
    </div> 
  </footer>	
  {% include scripts.html %}
</body>
</html>
